<h1>Sierra Encuadradora</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Fecha</th>
    <th>Calidad</th>
    <th>Dimension</th>
    <th>Espesor</th>
    <th>Hojas</th>
    <th>Metros Cubicos</th>
  </tr>
  </thead>

  <tbody>
  <% @framing_saws.each do |framing_saw| %>
      <tr>
        <td><%= framing_saw.created_at.to_date %></td>
        <td><%= framing_saw.quality.name %></td>
        <td><%= framing_saw.dimension.name %></td>
        <td><%= framing_saw.thickness.name %></td>
        <td><%= framing_saw.sheet %></td>
        <td><%= framing_saw.cubic_meters %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>