<h1>Sierra Encuadradora</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Lote</th>
      <th>Planta</th>
      <th>Area</th>
      <th>Producto</th>
      <th>Calidad</th>
      <th>Dimension</th>
      <th>Espesor</th>
      <th>Hojas</th>
      <th>Metros Cubicos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @framing_saws.each do |framing_saw| %>
      <tr>
        <td><%= framing_saw.created_at.to_date %></td>
        <td><%= framing_saw.batch %></td>
        <td><%= framing_saw.plant.name %></td>
        <td><%= framing_saw.area.name%></td>
        <td><%= framing_saw.product_id %></td>
        <td><%= framing_saw.quality.name %></td>
        <td><%= framing_saw.dimension.name %></td>
        <td><%= framing_saw.thickness.name %></td>
        <td><%= framing_saw.sheet %></td>
        <td><%= framing_saw.cubic_meters %></td>
        <td><%= link_to 'Show', framing_saw %></td>
        <td><%= link_to 'Edit', edit_framing_saw_path(framing_saw) %></td>
        <td><%= link_to 'Destroy', framing_saw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Framing saw', new_framing_saw_path %>
